* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	font-family: 'Open Sans', 'Sans-serif';
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.375;
}

.page-header__container {
	max-width: 1169px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.page-header {
	background: var(--1-header, rgba(222, 222, 222, 0.5));
}

.page-header__logo {
	width: 202px;
	height: 147px;
}

.page-header__nav-link {
	margin: 0 25px;
	color: #000;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
}

.page-header__nav-link:hover {
	color: var(--1-hover, #a51505);
}

.page-header__user-btn {
	padding: 15px 40px;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid var(--1, #1f1e1e);
}

.main-header__title {
	color: var(--1, #1f1e1e);
	text-align: center;
	font-family: Lora;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	margin: 100px 0 70px 0;
}

.main-header__picture img {
	width: 100%;
	object-fit: contain;
}

.main-header__text {
	color: var(--1, #1f1e1e);
	text-align: center;
	font-family: Lora;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	margin: 70px 0 100px 0;
}